################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/wpf_familiaBlanco/v15
/bin/Debug
/obj
/.vs/wpf_fBlanco/v15
/.vs
